
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

   body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
      
      .header {
        background-color: #333;
        color: #fff;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
      }
  
      .logo {
        font-size: 24px;
      }
  
      .nav {
        display: flex;
      }
  
      .nav li {
        list-style: none;
        margin-left: 20px;
      }
  
      .nav li a {
        color: #fa7ca2b0;
        text-decoration: none;
      }
      
      .socials {
        margin-left: 70px;
      }
      
      .tg {
        margin: 0 15px;
      } 

      .text {
       color: #7e7e7e;
       text-decoration: none;
       font-size: 15px;
      }

      .content{
       display: flex !important;
       flex-wrap: wrap;
       justify-content: center;
      }
      
      .background {
       background-image: url(img/background.jpg);
       background-repeat: no-repeat;
       background-size: cover;
      }

      .content-about {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
      }
       
      .text_about {
        font-size: 19px;
        font-family: "Lucida Console", Monaco, monospace;
        margin: 75px;
        color: #797676;
        line-height: 2;
        text-align: left;
      }

      .discount-container {
        position: relative;
        width: 200px;
        height: 200px;
      }
      
      .title {
        padding: 10px 20px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 40px;
        color: #ffffffde;
      }
      
      .paragraf {
        font-family: 'Lobster', sans-serif;
        font-size: 40px;
        color: #4d4848bf;
      }

      

      .block {
        width: 100%;
        max-width: 500px;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
      }
      
    
      
      .block img {
        width: 100%;
        height: auto;
      }
      
      .menu-container {
        display: none;
      }
  
      .menu-container button {
        background: none;
        border: none;
        color: #fa7ca2b0;
        font-size: 16px;
        cursor: pointer;
      }
      
      .menu {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #ffffff96;
      
        padding: 10px;
        display: none;
      }
      
      .menu li {
        list-style: none;
        margin-bottom: 20px;
      }
      
      .menu li a {
        color: #333;
        text-decoration: none;
      }

    .main {
      text-align: center;
    }

    .main h2 {
      color: #333;
      font-size: 20px;
    }

    .cta {
      margin-bottom: 30px;
    }

    .cta a {
      display: inline-block;
      padding: 10px 30px;
      background-color:#474747;
      color: #fff;
      text-decoration: none;
      font-size: 18px;
    }

/* кнопка */
.button_slide {
  align-self: center;
  margin: 20px;
  width: 300px;
  color: #474747;
  border: 2px solid #ff276199;
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #ff276199;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.button_slide:hover {
  box-shadow: inset 400px 0 0 0 #ff276199;
}

a {
  color: #7e7e7e;
  text-decoration: none;
  font-size: 15px;
}
 
/* слайдер */
.background_pink {
  background-color: hsl(323deg 95% 62% / 20%);
}

.slider {
  overflow: hidden;
  max-width: 100%;
  position: relative;
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease;
  padding-top: 10px;
}

.slide {
  flex: 0 0 100%;
  overflow: hidden;
}

.slide img {
  width: 40%;
  height: auto;
}

.slider-controls {
  display: flex;
  justify-content: center;
}

.slider-controls button {
  background: none;
  border: none;
  color: #474747;
  font-size: 24px;
  cursor: pointer;
  margin: 0 10px;
}

/* прайс */

.price {

  display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.article {
  font-family: "Marck Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #ff276199;
}
.img_price {
  background-image: url(img/price.jpg);
  width: 800px;
  height: 800px; 
  background-size: contain;
  margin-bottom: 20px;
}
.text_price {
  font-size: 20px;
  color: #7e7e7e;
  line-height: 3;
  text-align: left;
  padding: 130px;
}


/* контакты */
.contact_article {
  display: flex;
  flex-direction: column;
}

.contact {
  border: 2px solid #ff276199;
  color: #ff276199;
  width: 800px;
  align-self: center;
  padding: 20px;
  margin: 20px;
}

.link {
  font-size: 17px;
}

.map {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

iframe {
  width: 50vw;
  height: 30vh;
}
    .footer {
      background-color: #333;
      padding: 20px;
      text-align: center;
      color: #fa7ca294;
      font-size: 12px;
      margin-top: 20px;
    }
  
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
      .gallery img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin: 5px;
        cursor: pointer;
      }

       /* Адаптивные стили */
       @media (max-width: 768px) {
        .header {
          flex-direction: column;
          align-items: flex-start;
        }
  
        .nav {
         display: none;
        }
  
        .nav li {
          margin-left: 0;
        } 
        
        .menu-container {
          position: relative;
          display: inline-block;
        }
        
        .socials {
          margin-left: 0px;
          margin-bottom: 15px;
        }

        .title {
          font-size: 30px;
        }

        .paragraf {
          font-size: 25px;
        }
         
        .discount-text {
          top: 50%;
        }

        .text_about {
          font-size: 14px;
          padding: 10px;
          margin: 10px;
        }

        .slide img {
          width: 70%;}
          
        .gallery img {
          width: 70px;
          height: 70px;
        }
        
        .button_slide{
        width: 170px;
        font-size: 9px;
        padding: 7px 11px;
        }

        .img_price {
          width: 300px;
          height: 300px;
        }
        
        .text_price {
          font-size: 9px;
          line-height: 2;
          padding: 44px;
        }

        .article {
          font-size: 16px;
        }

        .contact {
          width: 250px;
        }
        .contact_article{
          font-size: 14px;
        }
      }